body{
    background-color: rgb(255, 255, 255);
}

.square{
    display: grid;
    grid-auto-rows: 60px;
    grid-template-columns: 60px;
    align-self: center;
    place-content: center;

}
.square1{
    background-color: rgb(0, 0, 0);
    position: relative;
    right: 123.5px;
    align-content:flex-end; 
    color: rgb(255, 255, 255);
}
.immagine{
    display: flex;
    margin: auto;
    position: relative;
    top: 23px;
    width: 300px;
}
.menu{
    width: 36px;
    position: relative;
    top: 34px;
    right: -340px;
}
